* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 80%;
    height: 80%;
}

.gameArea {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gameAreaBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.gameAreaBoxTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.gameAreaBoxTop>.title {
    font-size: 2rem;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    color: #1D267D;
}

.guessText {
    font-size: 1.2rem;
}


.gameAreaBoxBot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin-top: -25%; */
}

.gameAreaBoxBot>.input {
    margin-bottom: 20px;
    width: 200px;
}

.input:focus {
    outline: none;
    border: 2px solid #e087a9;
    border-radius: 3px;
    box-shadow: 0 0 3px #e087a9;
}

.wordDisplay {
    letter-spacing: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.gameAreaBoxBot>.newGameBtn {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 200px;
}

.gameAreaBoxBot>.newGameBtn:hover {
    background-color: #0056B3;
}


.timerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
}

.timerWrapper p {
    margin-bottom: 10px;
}

.timer {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #1D267D;
}

.guessHistory {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-height: 80%;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.guessHistory>h3 {
    margin: 8px 0;
    white-space: nowrap;
}

.guessHistory>p {
    text-align: center;
    width: 100%;
    margin: 5px 0;
    word-wrap: break-word;
}

.guessHistory>.guessHistoryCaption {
    font-weight: bold;
    font-size: 1.5em;
    margin: 7px 0;
    color: #1D267D;
}

.correctGuess {
    color: green;
}

.wrongGuess {
    color: red;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: 100%;
        min-height: 100vh;
        align-items: flex-start;
    }

    .timerWrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        width: 100%;
        height: 20%;
    }

    .gameArea {
        height: 60%;
    }

    .guessHistory {
        width: 100%;
        height: 20%;
        /* margin-top: 20px; */
    }

    .guessHistory>.guessHistoryCaption {
        font-size: 1.2rem;
    }
}
